* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  border: none;
}

input {
  font-family: inherit;
}

li {
  list-style-type: none;
}

html {
  font-family: Vazirmatn, system-ui, sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

select,
textarea {
  font-family: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
