* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  -moz-font-feature-settings: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
}

img {
  border: none;
}

input {
  -moz-font-feature-settings: inherit;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
}

li {
  list-style-type: none;
}

html {
  font-family: "IRANSansX", Tahoma, Geneva, Verdana, sans-serif;
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  min-width: 320px;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
