* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  border: none;
}

li {
  list-style-type: none;
}

html {
  font-size: 14px;
  font-weight: 500;
  min-width: 480px;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
