@font-face {
  font-display: swap;
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 100 900;
  src: url("../assets/fonts/vazirmatn/Vazirmatn-Variable.woff2")
    format("woff2-variations");
}
